<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <br>
    <P>Some of my best projects so far</P>
    <hr />
    <div>
        <article>
            <img src="../../assets/Coding-icon.svg" alt=" coding-icon ">
            <h4>Automatic Plant Watering </h4>
            <p>In which plant will be automatically watered by using arduino uno and water pump. </p>
        </article>
        <article>
            <img src="../../assets/Coding-icon.svg" alt=" coding-icon ">
            <h4>Churn Prediction model</h4>
            <p>In Telecom Industry customers are shifting from one network to other network to avoid shifting. </p>
        </article>
        <article>
            <img src="../../assets/Coding-icon.svg" alt="coding-icon ">
            <h4>Time Table Generator</h4>
            <p>A Web pplication for automatic time table generatior by which we can design time table. </p>
        </article>
    </div>
</section>